html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(0deg, rgb(0, 251, 255) 0%, rgb(0, 255, 213) 50%, rgb(0, 251, 255) 100%);
}

.tile {
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    margin: 5px;
    padding: 0px;
    width: 200px;
    height: 100%;
    float: left;
    text-align: center;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

.text-button {
    background-color: rgb(129, 129, 129);
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2px;

}

